{% extends "layouts/main.html" %}

{% set currentNav = "" %}

{% set navItems = [
  { text: "Home", href: "index", active: false },
  { text: "Cases", href: "cases", active: false },
  { text: "Search", href: "#", active: false }
] %}

{% set pageName="Help with the map" %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<h2 class="govuk-heading-l">Guide to the map</h2>

<div class="govuk-!-margin-bottom-6">

  <div style="overflow: hidden;">
    <div style="float: right; width: 200px; height: 200px;" aria-hidden="true"></div>

    <p class="govuk-body">
      The map shows where the person on probation has been, using signals (‘pings’) sent from their GPS tag.
    </p>
    
    <p class="govuk-body">
     The tag uses satellite signals to record its location. It pings around once a minute, sending this location information to the Electronic Monitoring Service.
    </p>
    <p class="govuk-body">
      Each ping appears as a point on the map that indicates the person’s most likely location. 
    </p>

     <div class="govuk-inset-text">
    Map data is around 95% accurate. The map may sometimes show a ping in the wrong location.
  </div>

    <p class="govuk-body">
      You can filter the map to view the person’s movements for specific dates and times. The most recent activity shown is about 5 minutes behind real time.
    </p>
  </div>
</div>

  <div class="govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-m">Location accuracy</h2>

  <div style="overflow: hidden;">
    <img src="/public/images/confidence-circles.png" alt="" class="govuk-!-margin-left-4 govuk-!-margin-bottom-2" style="float: right; max-width: 200px; height: auto;">

    <p class="govuk-body">
      Location accuracy can vary, and may be reduced if, for example, satellite signals are blocked or the tag battery is low.
    </p>
    <p class="govuk-body">
      Map points are surrounded by ‘confidence circles’ that show how confident the system is that the tag pinged at or near to each location.
    </p>
    <p class="govuk-body">
      Confidence circles cover the area the person may have been in when their tag pinged. The smaller the circle, the more confidence there is about the location.
    </p>
    <p class="govuk-body">
      To check a circle’s exact size, select its point to open a ‘ping card’ (pop-up box). This shows the distance from the centre to the edge of the circle in metres.
    </p>
    <p class="govuk-body">
      You can turn confidence circles off using the option in the top-right menu.
    </p>
    
  </div>
</div>


<div class="govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-m">Time and date of activity</h2>

  <div style="overflow: hidden;">
    <img src="/public/images/ping-card.png" alt="" class="govuk-!-margin-left-4 govuk-!-margin-bottom-2" style="float: right; max-width: 200px; height: auto;">

    <p class="govuk-body">
      Each point has a timestamp that shows when the tag pinged in that location.
    </p>
    <p class="govuk-body">
      To check the timestamp, select the point and open its ping card.
    </p>
    <p class="govuk-body">
      To work out how long the person spent at the location, compare the point’s timestamp with that of the next point in the sequence.
    </p>
     <p class="govuk-body">
      You can check the order of location points by turning on ‘point numbers’ in the top right-hand menu.
    </p>
  </div>
</div>

<div class="govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-m">Direction of travel</h2>

  <div style="overflow: hidden;">
    <img src="/public/images/direction-information.png" alt="" class="govuk-!-margin-left-4 govuk-!-margin-bottom-2" style="float: right; max-width: 200px; height: auto;">

    <p class="govuk-body">
      Each point is joined to the next point in the sequence by a line to form a trail.
    </p>

     <div class="govuk-inset-text" style="display: inline-block;">
      The trail shown may not reflect the actual route taken.
    </div>

     <p class="govuk-body">
      Arrows along the trail show the estimated direction of travel, based on the order of the points.
    </p>
    <p class="govuk-body">
      You can hide the arrows using the option in the top right-hand menu. 
    </p>
  </div>
</div>
    


<div class="govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-m">Missing trail data</h2>

  <div style="overflow: hidden;">
    <img src="/public/images/missing-data.png" alt="" class="govuk-!-margin-left-4 govuk-!-margin-bottom-2" style="float: right; max-width: 200px; height: auto;">

    <p class="govuk-body">
      Missing trail data usually means that either the tag is not working or that it cannot get a signal. 
    </p>
      <p class="govuk-body">
      This could be because:
      </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the person has gone somewhere with no signal, for example, in a lift or on the underground</li>
      <li>the tag has been damaged or removed</li>
      <li>the tag battery has run out</li>
    </ul>

    <p class="govuk-body">
     Missing data will result in either:
    </p>

      <ul class="govuk-list govuk-list--bullet">
      <li>few or no location points on the map</li>
      <li>a gap of more than 5 minutes between two location points in a sequence</li>
    </ul>

    </p>
  </div>
</div>


</div>


{% endblock %}
