{% extends "layouts/main.html" %}

{% set currentNav = "cases" %}

{% set navItems = [
  { text: "Home", href: "index", active: false },
  { text: "Cases", href: "cases", active: true },
  { text: "Search", href: "#", active: false }
] %}

  {% if data['personselected']=='billyhoskins' %}

      {% set persondata=data['billyhoskins'] %}

    {% elif data['personselected']=='pennyjordan' %}

        {% set persondata=data['pennyjordan'] %}

    {% elif data['personselected']=='mikeknight' %}

        {% set persondata=data['mikeknight'] %}

    {% elif data['personselected']=='richardmarks' %}

        {% set persondata=data['richardmarks'] %}

    {% elif data['personselected']=='terrymedford' %}

        {% set persondata=data['terrymedford'] %}

    {% elif data['personselected']=='chrispost' %}

        {% set persondata=data['chrispost'] %}

    {% elif data['personselected']=='mikevanpeebles' %}

        {% set persondata=data['mikevanpeebles'] %}

    {% endif %}

{% set pageName="Tag management" %}

{% block content %}
{% block breadcrumb %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Cases", href: "/cases" },
      { text: persondata.name, href: "/case/" + persondata.url }
    ]
  }) }}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
          <span class="govuk-caption-m govuk-!-margin-bottom-2">
        <abbr title="Case reference number" style="text-decoration: none">CRN</abbr>: {{ persondata.crn  }}
        <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
        Date of birth: {{ persondata.dateOfBirth  }}
        <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
        Sentence: {{ persondata.sentence  }}
      </span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      {{ persondata.name  }}
    </h1>
  </div>
</div>

{{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Location activity",
    href: "location-activity"
  }, {
    text: "Curfew activity",
    href: "curfew-activity"
  }, {
    text: "Tag management",
    href: "", 
    active: true
  }]
}) }}

<h2 class="govuk-heading-m">Tag management</h2>

<section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
  <header class="app-summary-card__header">
    <h3 class="app-summary-card__title">Tag and home monitoring unit (HMU)</h3>
    <!--div class="app-summary-card__actions">
      <a class="govuk-link plot-map" href="#">View all contact details</a>
    </div -->
  </header>

  <div class="app-summary-card__body">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <span class="govuk-!-font-weight-regular">EMS were unable to fit {{ persondata.firstname  }} 's GPS tag on Wednesday 5 and Friday 7 March 2025 as {{ persondata.firstname  }}  was not available at their approved address. Their tag was fitted on Wednesday 12 March 2025.</span>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">

{{ govukTable({
  attributes: {
    "data-module": "moj-sortable-table"
  },
  caption: "Tag tampers and battery recharging",
  head: [
    {
      text: "Date",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Time"
    },
    {
      text: "Tamper type",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        text: "Tuesday 8 April 2025"
      },
      {
        text: "12:36pm"
      },
      {
        html: '<span class="govuk-!-font-weight-bold govuk-error-message">Strap cut</span>'
      }
    ],
    [
      {
        text: "Thursday 10 April 2025"
      },
      {
        text: "7:54pm"
      },
      {
        html: '<span class="govuk-!-font-weight-bold govuk-error-message">Case open</span>'
      }
    ],
    [
      {
        text: "Tuesday 15 April 2025"
      },
      {
        text: "6:05am"
      },
      {
        html: '<span class="govuk-!-font-weight-bold govuk-error-message">Case open</span>'
      }
    ],
    [
      {
        text: "Friday 18 April 2025"
      },
      {
        text: "9:44pm"
      },
      {
        html: '<span class="govuk-!-font-weight-bold govuk-error-message">Strap cut</span>'
      }
    ]
  ]
}) }}

{{ govukTable({
  attributes: {
    "data-module": "moj-sortable-table"
  },
  caption: "Home monitoring unit (HMU) tampers",
  head: [
    {
      text: "Date",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Time"
    },
    {
      text: "Tamper type",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        text: "Tuesday 8 April 2025"
      },
      {
        text: "12:36pm"
      },
      {
        html: '<span class="govuk-!-font-weight-bold govuk-error-message">HMU moved</span>'
      }
    ]
  ]
}) }}
        </dt>
      </div>
    </dl>
  </div>
</section>

{% endblock %}
