{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Feedback
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Question one?
          </label>
          <input class="govuk-input" id="event-name" name="eventName" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Question two?
          </label>
          <input class="govuk-input" id="event-name" name="eventName" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Question three?
          </label>
          <input class="govuk-input" id="event-name" name="eventName" type="text">
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
