{% extends "layouts/main2.html" %}

{% set currentNav = "cases" %}

{% set navItems = [
  { text: "Home", href: "index", active: false },
  { text: "Cases", href: "cases", active: true },
  { text: "Search", href: "#", active: false }
] %}

{% if data['personselected']=='billyhoskins' %}

      {% set persondata=data['billyhoskins'] %}

    {% elif data['personselected']=='pennyjordan' %}

        {% set persondata=data['pennyjordan'] %}

    {% elif data['personselected']=='mikeknight' %}

        {% set persondata=data['mikeknight'] %}

    {% elif data['personselected']=='richardmarks' %}

        {% set persondata=data['richardmarks'] %}

    {% elif data['personselected']=='terrymedford' %}

        {% set persondata=data['terrymedford'] %}

    {% elif data['personselected']=='chrispost' %}

        {% set persondata=data['chrispost'] %}

    {% elif data['personselected']=='mikevanpeebles' %}

        {% set persondata=data['mikevanpeebles'] %}

    {% endif %}

{% set pageName="Manage locations" %}

{% block content %}


<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="cases">Cases</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">{{ persondata.name }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      Electronic monitoring - Manage addresses
    </li>
  </ol>
</nav>

{% set removedDefaultPeople = data.mvpRemovedDefaultLoiPeople or [] %}
{% set showDefaultAddress =
  data['personselected'] in ['billyhoskins', 'chrispost', 'mikeknight']
  and not (data['personselected'] in removedDefaultPeople)
%}

{% set displayLoiName = '' %}
{% set displayAddress = '' %}

{% if data.selectedAddress and (data.selectedAddress | trim | length) > 0 %}
  {% set displayLoiName = data.loiName1 or '' %}
  {% set displayAddress = data.selectedAddress %}
{% elif showDefaultAddress %}
  {% if data['personselected'] == 'chrispost' %}
    {% set displayLoiName = 'Ex-partners house' %}
    {% set displayAddress = '10 Finch Road, Stanway, Colchester, CO3 8DF' %}
  {% else %}
    {% set displayLoiName = 'Ex-partners house' %}
    {% set displayAddress = '10 Finch Road, Stanway, Colchester, CO3 8DF' %}
  {% endif %}
{% endif %}

{% set hasManagedAddress = displayAddress and (displayAddress | trim | length) > 0 %}

<form method="post" action="location-activity" novalidate>
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
          <span class="govuk-caption-m govuk-!-margin-bottom-2">
        <abbr title="Case reference number" style="text-decoration: none">CRN</abbr>:  {{ persondata.crn  }}
        <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
        Date of birth:  {{ persondata.dateOfBirth  }}
      
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
       {{ persondata.name  }}
    </h1>
 


  </div>

  <div class="govuk-grid-column-full">

<!--
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Manage addresses</h2>



      {% if data.selectedAddress %}
        {% set _inset = "" %}
        {% if data.loiName1 and (data.loiName1 | length) %}
          {% set _inset = _inset ~ "<strong>" ~ (data.loiName1 | escape) ~ "</strong><br>" %}
        {% endif %}
        {% set _inset = _inset ~ (data.selectedAddress | replace(", ", "<br>")) %}
        {% set _inset = _inset ~ "<p class='govuk-!-margin-top-4'>
          <a href='/loi/clear' class='govuk-link'>Delete</a></p>" %}

        <div id="loi-inset">
          {{ govukInsetText({ html: _inset }) }}
        </div>
      {% else %}
        <div id="loi-inset">
          {{ govukInsetText({
            html: "No custom locations have been added."
          }) }}
        </div>
      {% endif %}


      <p class="govuk-body" style="margin-bottom: 60px;">
        <a href="mvp-add-location1" class="govuk-link">Add new custom location</a>
      </p>

-->


{% if hasManagedAddress %}
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Manage addresses</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Address</th>
        <th scope="col" class="govuk-table__header">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {% if displayLoiName and (displayLoiName | length) %}
            <strong>{{ displayLoiName | escape }}</strong><br>
          {% endif %}
          {{ (displayAddress | escape) | replace(", ", "<br>") | safe }}
        </td>
        <td class="govuk-table__cell"> <a href="/clear-mvp" class="govuk-link"> Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
{% else %}
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Manage addresses</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Address</th>
        <th scope="col" class="govuk-table__header">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">No custom locations have been added.</td>
        <td class="govuk-table__cell"></td>
      </tr>
    </tbody>
  </table>
{% endif %}



      <div class="govuk-button-group">
        {{ govukButton({ text: "Save changes", type: "submit" }) }}
        <a class="govuk-link" href="location-activity">Cancel and go back</a>
      </div>

    </form>
  </div> <!-- /govuk-grid-column-full -->
</div> <!-- /govuk-grid-row -->


<style>

   .govuk-main-wrapper {
    padding-top: 10px;
  }


   /* Page width override for this version: +50px each side (100px total). */
  .govuk-width-container {
    max-width: 1280px;
  }

</style>

{% endblock %}


