{% extends "layouts/main.html" %}

{% set currentNav = "" %}

{% set navItems = [
  { text: "Home", href: "index", active: false },
  { text: "Cases", href: "cases", active: false },
  { text: "Search", href: "#", active: false }
] %}

{% set pageName="Help with the map" %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<h2 class="govuk-heading-l">Whats new</h2>

<p> Find out what's new in Electronic Monitoring </p>


<div class="moj-timeline">
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Change one</h2>
      <p class="moj-timeline__byline"></p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="2026-06-14T14:01:00.000Z">14 June 2026 at 2:01pm</time>
    </p>
    <div class="moj-timeline__description">
      <p>The probation practitioner's application for life skills training needs confirming by 28 June 2026.<a class="govuk-link" href="#">
          View application
          <span class="govuk-visually-hidden">
            for life skills training submitted on 28 May 2026
          </span>
        </a></p>
    </div>
  </div>
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Change two</h2>
      <p class="moj-timeline__byline"></p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="2026-06-07T12:32:00.000Z">7 June 2026 at 12:32pm</time>
    </p>
    <div class="moj-timeline__description">The application is being reviewed by a case worker.</div>
  </div>
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Change three</h2>
      <p class="moj-timeline__byline"></p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="2026-06-06T09:12:00.000Z">6 June 2026 at 9:12am</time>
    </p>
    <div class="moj-timeline__description">Your application has been received – reference MOJ-1234-5678</div>
  </div>
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Change four</h2>
      <p class="moj-timeline__byline"></p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="2026-05-28T10:45:00.000Z">28 May 2026 at 10:45am</time>
    </p>
    <div class="moj-timeline__description">
      <!-- <details class="govuk-details govuk-!-margin-bottom-0"> 
         <summary class="govuk-details__summary">
         <span class="govuk-details__summary-text">
            Application details
            <span class="govuk-visually-hidden">
              for application MOJ-1234-5678
            </span> 
          </span>
        </summary> 
        <div class="govuk-details__text">
          This is an application for life skills training at Queensbridge centre, Gloucester. The course lasts 12 weeks. <a class="govuk-link" href="#">
            View application
            <span class="govuk-visually-hidden">
              for life skills training submitted on 28 May 2026
            </span> 
          </a>
        </div>
      </details> -->
    </div>
  </div>
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Change five</h2>
      <p class="moj-timeline__byline"></p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="2026-05-21T13:15:00.000Z">21 May 2026 at 1:15pm</time>
    </p>
    <div class="moj-timeline__description"></div>
  </div>
</div>



</div>


{% endblock %}
