{% extends "layouts/main.html" %}

{% set currentNav = "cases" %}

{% set navItems = [
  { text: "Home", href: "index", active: false },
  { text: "Cases", href: "cases", active: true },
  { text: "Search", href: "#", active: false }
] %}

{% set pageName="Manage locations, Billy Hoskins" %}

{% block content %}
{% block breadcrumb %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Cases", href: "/cases" },
      { text: "Billy Hoskins", href: "billy-hoskins" }
    ]
  }) }}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-m govuk-!-margin-bottom-2">
      <abbr title="Case reference number" style="text-decoration: none">CRN</abbr>: Y123456
      <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
      Date of birth: 18 Nov 1995 (Age 29)
      <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
      <a href="https://www.figma.com/proto/vlCrUVrP6fuq59QzUg9lyy/GPS-Alpha-2.0?page-id=6722%3A15258&node-id=6936-6250&p=f&viewport=-4249%2C-4220%2C0.21&t=gk748NC1vQvFiqZc-8&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=6722%3A16450&hide-ui=1" style="color:#505a5f; text-decoration: none;">Sentence: Community Order (12 months)</a>
    </span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Billy Hoskins</h1>

    {{ mojSubNavigation({
      label: "Sub navigation",
      items: [{
        text: "Overview",
        href: "billy-hoskins"
      }, {
        text: "Location activity",
        href: "bh-location"
      },
      {
        text: "Curfew activity",
        href: "bh-curfew"
      }, {
        text: "Tag management",
        href: "bh-tag-breaches"
      }]
    }) }}
  </div>

  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Manage locations of interest</h2>
    <p class="govuk-body govuk-!-margin-bottom-5">
      You can choose which locations appear on Billy's location activity tab by:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>adding custom locations</li>
      <li>adding location categories from a pre-defined list</li>
    </ul>

      {# --- Section 1: Custom LOIs --- #}
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Add a custom location</h3>
      <p class="govuk-body govuk-!-margin-top-2">
        Search by postcode or enter an address manually.
      </p>

      {{ govukInsetText({
        html: "It can take up to 24 hours for a new location to appear on the map."
      }) }}

      {% if data.selectedAddress %}
        {% set _inset = "" %}
        {% if data.loiName and (data.loiName | length) %}
          {% set _inset = _inset ~ "<strong>" ~ (data.loiName | escape) ~ "</strong><br>" %}
        {% endif %}
        {% set _inset = _inset ~ (data.selectedAddress | replace(", ", "<br>")) %}
        {% set _inset = _inset ~ "<p class='govuk-!-margin-top-4'><a href='/loi/clear' class='govuk-link'>Delete</a></p>" %}

        <div id="loi-inset">
          {{ govukInsetText({ html: _inset }) }}
        </div>
      {% else %}
        <div id="loi-inset">
          {{ govukInsetText({
            html: "No custom locations have been added."
          }) }}
        </div>
      {% endif %}


      <p class="govuk-body" style="margin-bottom: 60px;">
        <a href="add-location1" class="govuk-link">Add new custom location</a>
      </p>

    {# ONE FORM WRAPS EVERYTHING #}
    <form method="post" action="/bh-manage-locations" novalidate>

    {# --- defaults for first-time / cleared sessions --- #}
{% set ALL_LOI_TYPES = [
  "betting shops",
  "places of worship",
  "playgrounds",
  "police stations",
  "pubs",
  "schools",
  "swimming pools"
] %}
{% set selectedTypes = data.loiTypes or ALL_LOI_TYPES %}

{{ govukCheckboxes({
  name: "loiTypes[]",
  fieldset: {
    legend: {
      text: "Add locations from a pre-defined list",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: { text: "Select the location categories most relevant to Billy's licence conditions from the following options:" },
  items: [
    { value: "betting shops",     text: "Betting shops",      checked: ("betting shops" in selectedTypes) },
    { value: "places of worship", text: "Places of worship",  checked: ("places of worship" in selectedTypes) },
    { value: "playgrounds",       text: "Playgrounds and play areas",  checked: ("playgrounds" in selectedTypes) },
    { value: "police stations",   text: "Police stations",    checked: ("police stations" in selectedTypes) },
    { value: "pubs",              text: "Pubs, bars and clubs",               checked: ("pubs" in selectedTypes) },
    { value: "schools",           text: "Schools and nurseries",            checked: ("schools" in selectedTypes) },
    { value: "swimming pools",    text: "Swimming pools and leisure centres",     checked: ("swimming pools" in selectedTypes) }
  ]
}) }}


      {# --- Section 2: Outside the UK (kept as a single checkbox) --- #}
      {{ govukCheckboxes({
        name: "outsideUk",
        fieldset: {
          legend: {
            text: "Outside the UK",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "Standard licence conditions require Billy to remain in the country. Only deselect this option if it makes understanding your data easier."
        },
        items: [
          {
            value: "anywhere",
            text: "Anywhere outside the UK",
            checked: (data.outsideUk and ("anywhere" in data.outsideUk)) or (not data.outsideUk)
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Save changes", type: "submit" }) }}
        <a class="govuk-link" href="bh-location">Cancel and go back</a>
      </div>

    </form>
  </div> <!-- /govuk-grid-column-full -->
</div> <!-- /govuk-grid-row -->
{% endblock %}
