{% extends "layouts/main.html" %}

{% set currentNav = "home" %}

{% set navItems = [
  { text: "Home", href: "#", active: true },
  { text: "Cases", href: "cases", active: false },
  { text: "Search", href: "#", active: false }
] %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>
    <p class="govuk-body">
      This is a prototype for the {{ serviceName }} service.
    </p>
    <!--
    <p class="govuk-body">
      It is not a live service and is not intended to be used by the public. In this prototype, you can explore the design and functionality of the GPS "Locations of Interest" service.</p>
      <a href="cases" class="govuk-button" data-module="govuk-button">
        Start now
      </a>
    -->
    <br> <br>
    <table class="govuk-table" style="width: 1000px">
      <caption class="govuk-table__caption govuk-table__caption--m">Design history and versioning</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header" style="width: 400px;">Comments</th>
          <th scope="col" class="govuk-table__header">Documentation</th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="v3/cases" class="govuk-link"> V3 - (MVP)</a>
          </th>

          <td class="govuk-table__cell">This version is the proposed MVP version. It includes a stripped back location and curfew activity tabs.<br> <br>

          This includes a new Location of interest, map features and curfew content </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
            Not tested
          </strong>
          </td>
        </tr>

       <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="v2-5/cases" class="govuk-link"> V2.1 </a>
          </th>

          <td class="govuk-table__cell">This version looked at giving a user ability to "create location activity report" in location activity tab</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
          </strong>
          </td>
        </tr> 

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="v2/cases" class="govuk-link"> V2 </a>
          </th>

          <td class="govuk-table__cell">This version looked at further refining how a user selected dates within the location activity tab. <br> <br>This idea looked at the user being able to change the time by adding increments on time through a link. </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
          </strong>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="v1/cases" class="govuk-link"> V1 </a>
          </th>

          <td class="govuk-table__cell">The post‑MVP prototype builds on the initial release by introducing a more integrated and intuitive planning experience centred around date‑based trail discovery and an expanded Locations of Activity journey. </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
          </strong>
          </td>
        </tr>
<!--
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="https://www.figma.com/design/vlCrUVrP6fuq59QzUg9lyy/GPS-Alpha-2.0?node-id=7684-5309" target=”_blank” class="govuk-link"> V6 - Figma</a>
          </th>

          <td class="govuk-table__cell">This version is the </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
            User research
          </strong>
          </td>
        </tr>

         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="https://www.figma.com/design/vlCrUVrP6fuq59QzUg9lyy/GPS-Alpha-2.0?node-id=7512-22288" target=”_blank” class="govuk-link"> V5 - Figma</a>
          </th>

          <td class="govuk-table__cell">This version is the </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
            User research
          </strong>
          </td>
        </tr>

         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="https://www.figma.com/design/vlCrUVrP6fuq59QzUg9lyy/GPS-Alpha-2.0?node-id=7318-17962" target=”_blank” class="govuk-link"> V4 - Figma</a>
          </th>

          <td class="govuk-table__cell">This version is the </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
            User research
          </strong>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="https://www.figma.com/design/vlCrUVrP6fuq59QzUg9lyy/GPS-Alpha-2.0?node-id=6722-15258" target=”_blank” class="govuk-link"> V3 - Figma</a>
          </th>

          <td class="govuk-table__cell">This version is the </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
            User research
          </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="https://www.figma.com/design/vlCrUVrP6fuq59QzUg9lyy/GPS-Alpha-2.0?node-id=6098-4496" target=”_blank” class="govuk-link">V2 - Figma</a>
          </th>
          <td class="govuk-table__cell">This version is the </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--green">
            User research
          </strong>
          </td>
        </tr>
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="https://www.figma.com/design/vlCrUVrP6fuq59QzUg9lyy/GPS-Alpha-2.0?node-id=0-1" target=”_blank” class="govuk-link"> V1 - Figma</a>
          </th>

          <td class="govuk-table__cell">This version is the </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
            User research
          </strong>
          </td>
        </tr>
      -->
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
