{% extends "layouts/main.html" %}

{% set currentNav = "home" %}

{% set navItems = [
  { text: "Home", href: "#", active: true },
  { text: "Cases", href: "cases", active: false },
  { text: "Search", href: "#", active: false }
] %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>
    <p class="govuk-body">
      This is a prototype for the {{ serviceName }} service.
    </p>
    <!--
    <p class="govuk-body">
      It is not a live service and is not intended to be used by the public. In this prototype, you can explore the design and functionality of the GPS "Locations of Interest" service.</p>
      <a href="cases" class="govuk-button" data-module="govuk-button">
        Start now
      </a>
    -->
    <br> <br>
    <table class="govuk-table ">
      <caption class="govuk-table__caption govuk-table__caption--m">Design history and versioning</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
          <th scope="col" class="govuk-table__header">Comments</th>
          <th scope="col" class="govuk-table__header">Documentation</th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="v3-5/cases" class="govuk-link"> V - (MVP +)</a>
          </th>

          <td class="govuk-table__cell">
          This version is the proposed MVP+ version and contains; </li> <br><br>
            <li>Introduces a new Location of Interest feature, allowing users to add a custom location.</li>
            <li>Includes enhanced map features for improved navigation and context.</li>
            <li>Adds dedicated curfew content to support relevant workflows.</li>
            <li>Expands tag management sections for better organisation and control.</li>

           </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
            Not tested
          </strong>
          </td>
        </tr> 

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="v3-1/cases" class="govuk-link"> V3.1 - (MVP)</a>
          </th>

          <td class="govuk-table__cell">
          This version is the updated MVP version and contains; <br> <br>

          <li> Trail map features</li>
          <li> New content</li>
          <li> New map improvements</li></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
            Not tested
          </strong>
          </td>
        </tr>
       
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="v3/cases" class="govuk-link"> V3 - (MVP)</a>
          </th>

          <td class="govuk-table__cell">
          This version is the proposed MVP version and contains; <br> <br>

          <li> Trail map features</li></td>
          <td class="govuk-table__cell">
          
             <a href="  https://justiceuk.sharepoint.com/:p:/r/sites/DataEngineeringDataScience/Shared%20Documents/General/2.%20Data%20Science%20%26%20AI%20Hub/4.%20Probation%20%26%20EM/Projects/Electronic%20Monitoring/EM%20Data%20Insights/Data%20Science/GPS%20DS/GPS%20-%20Alpha/GPS%20User%20Research%2025/Alpha%20UR/Alpha%20work/UR_DateTime_report_Late_Nov_2025.pptx?d=w9384c4837579416e88db1f85631d4dc1&csf=1&web=1&e=AKo873&nav=eyJzSWQiOjQ1MywiY0lkIjoyMTQ5MjEwODM4fQ" target="_blank" class="govuk-link"> MVP usability testing - April 2026
          </a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
          </strong>
          </td>
        </tr>

       <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="v2-5/cases" class="govuk-link"> V2.1 </a>
          </th>

          <td class="govuk-table__cell">
            This version contains; <br> <br>
            <li>Overview</li>
            <li>Location Activity — ability for users to create a location activity report, overnight activity, locations of interest </strong></li>
            <li>Tag Management</li>
          </td>
          <td class="govuk-table__cell">
          
             <a href="  https://justiceuk.sharepoint.com/:p:/r/sites/DataEngineeringDataScience/Shared%20Documents/General/2.%20Data%20Science%20%26%20AI%20Hub/4.%20Probation%20%26%20EM/Projects/Electronic%20Monitoring/EM%20Data%20Insights/Data%20Science/GPS%20DS/GPS%20-%20Alpha/GPS%20User%20Research%2025/Alpha%20UR/Alpha%20work/UR_DateTime_report_Late_Nov_2025.pptx?d=w9384c4837579416e88db1f85631d4dc1&csf=1&web=1&e=AKo873&nav=eyJzSWQiOjQ1MywiY0lkIjoyMTQ5MjEwODM4fQ" target="_blank" class="govuk-link"> Date filter research - November 2025 
          </a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
          </strong>
          </td>
        </tr> 

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="v2/cases" class="govuk-link"> V2 </a>
          </th>

           <td class="govuk-table__cell">  This version contains; <br> <br>

            <li>Overview</li>
            <li>Location activity - this includes incremental time filters, overnight activity, locations of interest</li>
            <li>Curfew information</li>
            <li>Tag management</li>
          </td>

          <td class="govuk-table__cell">
            <a href="https://justiceuk.sharepoint.com/:p:/r/sites/DataEngineeringDataScience/Shared%20Documents/General/2.%20Data%20Science%20%26%20AI%20Hub/4.%20Probation%20%26%20EM/Projects/Electronic%20Monitoring/EM%20Data%20Insights/Data%20Science/GPS%20DS/GPS%20-%20Alpha/GPS%20User%20Research%2025/Alpha%20UR/Alpha%20work/UR_DateTime_report_Late_Nov_2025.pptx?d=w9384c4837579416e88db1f85631d4dc1&csf=1&web=1&e=M4cGZV&nav=eyJzSWQiOjQ0OCwiY0lkIjozMzk0ODY1MDY3fQ" target="_blank" class="govuk-link"> Date filter research - November 2025 
          </a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
          </strong>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"> 
            <a href="v1/cases" class="govuk-link"> V1 </a>
          </th>

          <td class="govuk-table__cell">  This version contains; <br> <br>

            <li>Overview</li>
            <li>Location activity - this includes a date from and date to as well as time filters, overnight activity, locations of interest</li>
            <li>Curfew information</li>
            <li>Tag management</li>
          </td>
          <td class="govuk-table__cell">
          
           <a href="https://justiceuk.sharepoint.com/:p:/r/sites/DataEngineeringDataScience/Shared%20Documents/General/2.%20Data%20Science%20%26%20AI%20Hub/4.%20Probation%20%26%20EM/Projects/Electronic%20Monitoring/EM%20Data%20Insights/Data%20Science/GPS%20DS/GPS%20-%20Alpha/GPS%20User%20Research%2025/Alpha%20UR/Alpha%20work/UR_DateTime_report_Late_Nov_2025.pptx?d=w9384c4837579416e88db1f85631d4dc1&csf=1&web=1&e=d5MOcq&nav=eyJzSWQiOjQ0OSwiY0lkIjoxODc1NjI0Mzg0fQ" target="_blank" class="govuk-link"> Date filter research - November 2025 
          </a>

          <br> <br>

           <a href="https://justiceuk.sharepoint.com/:p:/r/sites/DataEngineeringDataScience/Shared%20Documents/General/2.%20Data%20Science%20%26%20AI%20Hub/4.%20Probation%20%26%20EM/Projects/Electronic%20Monitoring/EM%20Data%20Insights/Data%20Science/GPS%20DS/GPS%20-%20Alpha/GPS%20User%20Research%2025/Alpha%20UR/Alpha%20work/UR_GPS_Trail_Monitoring_report_Early_Sept_2025.pptx?d=w5bc64ea6ab534f8a9b6b7691f6a0ab7b&csf=1&web=1&e=k6jzw8&nav=eyJzSWQiOjM4NSwiY0lkIjoyNTcyMDkxNjczfQ" target="_blank" class="govuk-link"> Date filter / Locations of interest / Tag management research - September 2025 
          </a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
          </strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
