
{% extends "layouts/main.html" %}

{% set currentNav = "cases" %}

{% set navItems = [
  { text: "Home", href: "index", active: false },
  { text: "Cases", href: "cases", active: true },
  { text: "Search", href: "#", active: false }
] %}

{% set pageName="Location activity, Billy Hoskins" %}

{% block content %}
{% block breadcrumb %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Cases", href: "/cases" },
      { text: "Richard Marks", href: "richard-marks" }
    ]
  }) }}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-m govuk-!-margin-bottom-2">
      <abbr title="Case reference number" style="text-decoration: none">CRN</abbr>: X778126 
      <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
      Date of birth: 23 April 1996 (Age 29)
      <span class="govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile">|</span>
      Sentence: Community Order (12 months)
    </span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Richard Marks
    </h1>
  </div>
</div>

{{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Overview",
    href: "richard-marks"
  }, {
    text: "Location activity",
    href: "",
    active: true
  }, {
    text: "Tag management",
    href: ""
  }]
}) }}

<h2 class="govuk-heading-m" id="map-header">Location activity</h2>

{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}

<div class="moj-page-header-actions">
  <div class="moj-page-header-actions__title">
    <h3 class="govuk-heading-s">Search map by date and time</h3>
  </div>
  <div class="moj-page-header-actions__actions">
    <div class="moj-button-group moj-button-group--inline">
        <a href="rm-create-report"
          class="govuk-button govuk-button--secondary"
          role="button"
          data-module="govuk-button">
          Create location activity report
        </a>

    </div>
  </div>
</div>



<div class="loi-filters govuk-!-margin-bottom-3">
  <form id="bh-map-filters" class="loi-filters__form" novalidate>
    <div class="bh-filters-grid">

      <!-- Row 1: Date pickers -->
      <div class="bh-slot bh-date-from">
        {{ mojDatePicker({
          id: "bh-date-from",
          name: "dateFrom",
          label: { text: "Date from" },
          classes: "govuk-input--width-10",
          value: "23/11/2025",
          maxDate: "26/11/2025"
        }) }}
      </div>

      <div class="bh-slot bh-date-to">
        {{ mojDatePicker({
          id: "bh-date-to",
          name: "dateTo",
          label: { text: "Date to" },
          classes: "govuk-input--width-10",
          value: "23/11/2025",
          maxDate: "26/11/2025"
        }) }}
      </div>

      <!-- Row 2: Time inputs -->
      <div class="bh-slot bh-time-from">
        <div class="govuk-form-group">
          <label class="govuk-label">Time from</label>
          <div class="govuk-date-input" id="bh-time-from">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="bh-time-from-hour">Hour</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                       id="bh-time-from-hour" name="timeFromHour" type="number"
                       inputmode="numeric" min="0" max="23" value="09">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="bh-time-from-min">Minute</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                       id="bh-time-from-min" name="timeFromMin" type="number"
                       inputmode="numeric" min="0" max="59" value="00">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bh-slot bh-time-to">
        <div class="govuk-form-group">
          <label class="govuk-label">Time to</label>
          <div class="govuk-date-input" id="bh-time-to">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="bh-time-to-hour">Hour</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                       id="bh-time-to-hour" name="timeToHour" type="number"
                       inputmode="numeric" min="0" max="23" value="09">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="bh-time-to-min">Minute</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                       id="bh-time-to-min" name="timeToMin" type="number"
                       inputmode="numeric" min="0" max="59" value="30">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Row 2: Actions -->
      <div class="bh-slot bh-actions">
        <button class="govuk-button" data-module="govuk-button" id="bh-apply-filters" type="submit">
          Update map
        </button>
        <a href="/bh-location?clear=1" id="bh-clear-filters" class="govuk-link" data-turbo="false">Clear filters</a>
      </div>

    </div>

    <div id="bh-filter-status" class="govuk-visually-hidden" aria-live="polite"></div>
  </form>
</div>

<div class="govuk-!-margin-bottom-6">
  <div id="map-status" class="govuk-visually-hidden" aria-live="polite"></div>
  <div id="map" style="height: 600px;"></div>
  <p class="govuk-body-s"><a href="map-help">Help with the map</a></p>
</div>

<hr class="govuk-section-break govuk-section-break--visible curfew-forecast-break">

<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Unusual activity, last 7 days</h3>
<p class="govuk-body">Daytime activity (6am to 7pm)</p>

      {% call govukInsetText({ classes: "govuk-!-margin-0 guidance-panel" }) %}

      <p class="govuk-body">Richard spent 20% less time at home in the last 7 days compared to the previous 7 days.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>On Friday 1 November 2025, they travelled more than 10 miles from home.
        <a href="#"
          class="plot-link govuk-link"
          data-trace="overnight-2025-10-25"
          data-date="2025-10-25"
          data-start="01:05"
          data-end="01:36">View activity on map
        </a>
        </li>
        <li>From 5:30pm to 6:45pm on Tuesday 4 November, they made several short journeys.
        <a href="#"
          class="plot-link govuk-link"
          data-trace="overnight-2025-10-25"
          data-date="2025-10-25"
          data-start="01:05"
          data-end="01:36">View activity on map
        </a>
        </li>
        <li>From 6:55am to 7:45am on Thursday 6 November 2025, they spent 50 mins in a new location.
        <a href="#"
          class="plot-link govuk-link"
          data-trace="overnight-2025-10-25"
          data-date="2025-10-25"
          data-start="01:05"
          data-end="01:36">View activity on map
        </a>
        </li>
      </ul>
      {% endcall %}

<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Overnight activity</h3>

      {% call govukInsetText({ classes: "govuk-!-margin-0 guidance-panel" }) %}
      <p class="govuk-body">Billy left home during the night 1 time in the last 7 days:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>From 1:05am to 1:36am on Friday 7 November 2025. 
        <a href="#"
          class="plot-link govuk-link"
          data-trace="overnight-2025-10-25"
          data-date="2025-10-25"
          data-start="01:05"
          data-end="01:36">View activity on map
        </a>
        </li>
      </ul>
      <p class="govuk-body">Overnight activity shows any times Richard left home between midnight and 6am in the last 7 days.</p>
      <p class="govuk-body"></p>It does not show activity in relation to any curfew licence conditions.</p>
      {% endcall %}

      <!--
{{ govukTable({
  attributes: {
    id: "bh-overnight-table",
    "data-module": "moj-sortable-table"
  },
  caption: "Time spent away from home during the night (midnight to 6am)",
  head: [
    {
      text: "Date"
    },
    {
      text: "Location type"
    },
    {
      text: "Address"
    },
    {
      text: "Time"
    },
    {
      text: "View on map"
    }
  ],
  rows: [
    [
      {
        html: "Friday 17 Oct 2025<br/><a href='#' class='govuk-link'>Send to NDelius</a>"
      },
      {
        text: "Unknown"
      },
      {
        html: "42 Turnstile Square<br/>ColchesterCO2 7HQ"
      },
      {
        html: "1:05am to 1:36am<br/>(31 mins)"
      },
      {
       html: '<a href="#" class="plot-link govuk-link">View</a>'
      }
    ],
    [
      {
        html: "Saturday 18 Oct 2025<br/><a href='#' class='govuk-link'>Send to NDelius</a>"
      },
      {
        text: "Partner's house"
      },
      {
        html: "46-6 Rainsborowe Rd<br/>Colchester<br/>CO2 7JR"
      },
      {
        html: "1am to 2am<br/>(1 hour)"
      },
      {
       html: '<a href="#" class="plot-link govuk-link">View</a>'
      }
    ],
    [
      {
        html: "Sunday 19 Oct 2025<br/><a href='#' class='govuk-link'>Send to NDelius</a>"
      },
      {
        text: "Partner's house"
      },
      {
        html: "46-6 Rainsborowe Rd<br/>Colchester<br/>CO2 7JR"
      },
      {
        html: "4:30am to 6:31am<br/>(2 hours 1 min)"
      },
      {
       html: '<a href="#" class="plot-link govuk-link">View</a>'
      }
    ]
  ]
}) }}
-->

<hr class="govuk-section-break govuk-section-break--visible curfew-forecast-break">

<h3 class="govuk-heading-m govuk-!-margin-bottom-0" id="filter-by-loi">Visits to specific locations of interest</h3>
<p class="govuk-body">You can check if the person on probation has been to certain locations that may be relevant to their licence conditions.</p>

{{ govukInsetText({
  html: "<p class='govuk-body'><a href='bh-manage-locations' class='govuk-link'>Add or remove locations of interest</a></p>"
}) }}


<div class="loi-filters govuk-!-margin-bottom-3">
  <form id="loi-filters" class="loi-filters__form" novalidate data-tag-fitted="2025-06-08">
    <div class="loi-filters__row">
      <div class="loi-filters__group">
        <label class="govuk-label" for="filter-type">Location</label>

{% set allTypes = [
  { value: "anywhere outside the uk", label: "Anywhere outside the UK" },
  { value: "betting shops",           label: "Betting shops" },
  { value: "places of worship",       label: "Places of worship" },
  { value: "playgrounds",          label: "Playgrounds and play areas" },
  { value: "police stations",         label: "Police stations" },
  { value: "pubs",                    label: "Pubs, bars and clubs" },
  { value: "schools",                 label: "Schools and nurseries" },
  { value: "swimming pools",          label: "Swimming pools and leisure centres" }  
] %}


<select class="govuk-select" id="filter-type" name="filter-type">
  <option value="" selected>All location types</option>

  {# If user has saved a list, only show those; otherwise show all #}
  {% for t in allTypes %}
    {% if not (data.loiTypes and (data.loiTypes | length)) or (t.value in data.loiTypes) %}
      <option value="{{ t.value }}">{{ t.label }}</option>
    {% endif %}
  {% endfor %}

  {# Add Custom if a custom address exists and has a name/address #}
  {% if data.selectedAddress and (data.selectedAddress | trim | length) > 0 %}
    <option value="custom">Custom</option>
  {% endif %}

</select>


      </div>

      <div class="loi-filters__group">
        <label class="govuk-label" for="filter-date">Date range</label>
        <select class="govuk-select" id="filter-date" name="filter-date">
          <option value="" id="all-dates-option" selected>All dates since tag fitting (68 days)</option>
          <option value="last7">Last 7 days</option>
          <option value="last30">Last 30 days</option>
        </select>
      </div>

      <div class="loi-filters__actions">
        <button class="govuk-button" data-module="govuk-button" id="apply-loi-filters" type="submit">
          Filter locations
        </button>
      </div>
    </div>

    <div class="loi-filters__footer">
      <a href="#" id="clear-loi-filters" class="govuk-link">Clear filters</a>
    </div>

    <div id="loi-filter-status" class="govuk-visually-hidden" aria-live="polite"></div>
  </form>
</div>

{% set start = startIndex or 0 %}

{# 1) Build the base rows #}
{% set loiRows = [
  [
    {
      text: loiDates[start + 0].text,
      html: (loiDates[start + 0].html | safe)
        + '<br><a class="govuk-link" href="ndelius-record?trace=kings-arms-1&amp;date='
        + loiDates[start + 0].iso
        + '">Send to NDelius</a>',
      attributes: { "data-sort-value": loiDates[start + 0].iso }
    },
    { text: "Pubs, bars and clubs", attributes: { "data-sort-value": "pubs" } },
    { html: "Kings Arms<br/>61-63 Crouch Street<br/>Colchester<br/>CO3 3EY" },
    { html: "2:19pm to 7:59pm<br/>(5 hours 40 mins)", attributes: { "data-sort-value": "340" } },
    { html: '<a href="#" class="plot-link govuk-link" data-trace="kings-arms-1">View</a>' }
  ],
  [
    {
      text: loiDates[start + 1].text,
      html: (loiDates[start + 1].html | safe)
        + '<br><a class="govuk-link" href="ndelius-record?trace=school&amp;date='
        + loiDates[start + 1].iso
        + '">Send to NDelius</a>',
      attributes: { "data-sort-value": loiDates[start + 1].iso }
    },
    { text: "Schools and nurseries", attributes: { "data-sort-value": "schools" } },
    { html: "Colchester County High School for Girls<br/>Norman Way<br/>Colchester<br/>CO3 3US" },
    { html: "1:33pm to 2:04pm<br/>(31 mins)", attributes: { "data-sort-value": "31" } },
    { html: '<a href="#" class="plot-link govuk-link" data-trace="school">View</a>' }
  ],
  [
    {
      text: loiDates[start + 2].text,
      html: (loiDates[start + 2].html | safe)
        + '<br><a class="govuk-link" href="ndelius-record?trace=fusilier-1&amp;date='
        + loiDates[start + 2].iso
        + '">Send to NDelius</a>',
      attributes: { "data-sort-value": loiDates[start + 2].iso }
    },
    { text: "Pubs, bars and clubs", attributes: { "data-sort-value": "pubs" } },
    { html: "The Fusilier Bar & Restaurant<br/>Aingers Green Rd<br/>Great Bentley<br/>Colchester<br/>CO7 8NH" },
    { html: "11:12am to 1:27pm<br/>(2 hours 15 mins)", attributes: { "data-sort-value": "135" } },
    { html: '<a href="#" class="plot-link govuk-link" data-trace="fusilier-1">View</a>' }
  ],
  [
    {
      text: loiDates[start + 4].text,
      html: (loiDates[start + 4].html | safe)
        + '<br><a class="govuk-link" href="ndelius-record?trace=swimming-pool&amp;date='
        + loiDates[start + 4].iso
        + '">Send to NDelius</a>',
      attributes: { "data-sort-value": loiDates[start + 4].iso }
    },
    { text: "Swimming pools and leisure centres", attributes: { "data-sort-value": "swimming pools" } },
    { html: "Leisure World Colchester<br/>Cowdray Ave<br/>Colchester<br/>CO1 1YH" },
    { html: "11:05am to 12:26pm<br/>(1 hour 21 mins)", attributes: { "data-sort-value": "81" } },
    { html: '<a href="#" class="plot-link govuk-link" data-trace="swimming-pool">View</a>' }
  ],
  [
    {
      text: loiDates[start + 5].text,
      html: (loiDates[start + 5].html | safe)
        + '<br><a class="govuk-link" href="ndelius-record?trace=police-station&amp;date='
        + loiDates[start + 5].iso
        + '">Send to NDelius</a>',
      attributes: { "data-sort-value": loiDates[start + 5].iso }
    },
    { text: "Police stations", attributes: { "data-sort-value": "police stations" } },
    { html: "Essex Police<br/>Colchester<br/>CO3 3BU" },
    { html: "10:01am to 10:17am<br/>(16 mins)", attributes: { "data-sort-value": "16" } },
    { html: '<a href="#" class="plot-link govuk-link" data-trace="police-station">View</a>' }
  ],
  [
    {
      text: loiDates[start + 6].text,
      html: (loiDates[start + 6].html | safe)
        + '<br><a class="govuk-link" href="ndelius-record?trace=kings-arms-2&amp;date='
        + loiDates[start + 6].iso
        + '">Send to NDelius</a>',
      attributes: { "data-sort-value": loiDates[start + 6].iso }
    },
    { text: "Pubs, bars and clubs", attributes: { "data-sort-value": "pubs" } },
    { html: "Kings Arms<br/>61-63 Crouch Street<br/>Colchester<br/>CO3 3EY" },
    { html: "11:38pm to 11:59pm<br/>(21 mins)", attributes: { "data-sort-value": "21" } },
    { html: '<a href="#" class="plot-link govuk-link" data-trace="kings-arms-2">View</a>' }
  ],
  [
    {
      text: loiDates[start + 8].text,
      html: (loiDates[start + 8].html | safe)
        + '<br><a class="govuk-link" href="ndelius-record?trace=ladbrokes&amp;date='
        + loiDates[start + 8].iso
        + '">Send to NDelius</a>',
      attributes: { "data-sort-value": loiDates[start + 8].iso }
    },
    { text: "Betting shops", attributes: { "data-sort-value": "betting shops" } },
    { html: "Ladbrokes<br/>41, 42 St Botolph's St<br/>Colchester<br/>CO2 7EA" },
    { html: "1:34pm to 2:13pm<br/>(39 mins)", attributes: { "data-sort-value": "39" } },
    { html: '<a href="#" class="plot-link govuk-link" data-trace="ladbrokes">View</a>' }
  ]
] %}

{# 2) Append custom LOI if one exists #}
{% if data.selectedAddress and (data.selectedAddress | length) %}
  {% if data.loiName and (data.loiName | length) %}
    {% set customType = data.loiName %}
  {% else %}
    {% set customType = "Custom" %}
  {% endif %}

  {% set customRow = [
    {
      text: loiDates[start + 5].text,
      html: (loiDates[start + 5].html | safe)
        + '<br><a class="govuk-link" href="ndelius-record?trace=finch-road&amp;date='
        + loiDates[start + 5].iso
        + '">Send to NDelius</a>',
      attributes: { "data-sort-value": loiDates[start + 5].iso }
    },
    { text: customType, attributes: { "data-sort-value": "custom", "data-loi-type": "custom" } },
    { html: (data.selectedAddress | replace(", ", "<br/>")) },
    { html: "1:55pm to 7:59pm<br/>(6 hours 4 mins)", attributes: { "data-sort-value": "364" } },
    { html: '<a href="#" class="plot-link govuk-link" data-trace="finch-road">View</a>' }
  ] %}

  {% set loiRows = loiRows.concat([customRow]) %}
{% endif %}


{# 3) Filter rows by the user’s selected LOI types #}
{% set allowedTypes = data.loiTypes or [] %}

{# ensure custom locations always display if a user-added address exists #}
{% if data.selectedAddress and (data.selectedAddress | length) %}
  {% set allowedTypes = allowedTypes + ["custom"] %}
{% endif %}

{% set visibleRows = [] %}

{% for row in loiRows %}
  {% set rowType = row[1].attributes["data-sort-value"] | lower %}
  {% if not (allowedTypes and allowedTypes | length) or (rowType in allowedTypes) %}
    {% set visibleRows = visibleRows.concat([row]) %}
  {% endif %}
{% endfor %}

{# 4) Render the table #}
{{ govukTable({
  attributes: { id: "bh-loi-table", "data-module": "moj-sortable-table" },
  head: [
    { text: "Date", attributes: { "aria-sort": "descending" } },
    { text: "Location type", attributes: { "aria-sort": "none" } },
    { text: "Address" },
    { text: "Time", attributes: { "aria-sort": "none" }, classes: "no-wrap" },
    { text: "View on map" }
  ],
  rows: visibleRows
}) }}


{{ govukPagination({
  next: { href: "#" },
  items: [
    { number: 1, current: true, href: "#" },
    { number: 2, href: "#" },
    { number: 3, href: "#" }
  ]
}) }}

<!-- Leaflet core -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- PolylineDecorator -->
<script src="/public/javascripts/leaflet.polylineDecorator.js"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Duration calculator -->
<script src="/public/javascripts/duration-helper.js"></script>

<script src="/public/javascripts/bh-filters-align.js"></script>
<script src="/public/javascripts/bh-map-filters.js"></script>
<script src="/public/javascripts/bh-date-sync.js"></script>
<script src="/public/javascripts/bh-loi-row-highlight.js"></script>

<script src="/public/javascripts/bh-location-init.js"></script>
<script src="/public/javascripts/map-overlays.js"></script>
<script src="/public/javascripts/gps-map.js"></script>
<script src="/public/javascripts/bh-update-map.js"></script>
<script src="/public/javascripts/bh-loi-to-map-sync.js"></script>

<!-- Table filtering -->
<script src="/public/javascripts/loi-filters.js"></script>

<script>
  // Enhancements only — map is created in /public/javascripts/bh-location-init.js
  document.addEventListener('DOMContentLoaded', function () {
    if (!window.map) return;

    // Give LOI areas their own pane above lines/circles but under tooltips/popups
if (!window.map.getPane('loi-areas')) {
  const pane = window.map.createPane('loi-areas');
  // Leaflet default z-indexes: overlayPane=400, markerPane=600, tooltip=650, popup=700
  // Put polygons above lines/circles (400) but just under tooltips (650)
  pane.style.zIndex = 645;
}

    // Restore previously chosen base (Street/Satellite)
    try {
      var lastBase = (localStorage.getItem('loi-base') || 'street').toLowerCase();
      var base = (lastBase === 'satellite') ? window.satelliteLayer : window.streetLayer;
      if (base && !window.map.hasLayer(base)) base.addTo(window.map);

      // Persist choice when user switches base layers
      window.map.on('baselayerchange', function (e) {
        if (e && e.name) localStorage.setItem('loi-base', e.name.toLowerCase());
      });
    } catch (e) {
      console.warn('[bh] base layer restore skipped:', e);
    }

    // IMPORTANT: do NOT call setupMapOverlays() here — it’s already called in bh-location-init.js
  });
</script>


{% endblock %}
